   * {
	margin: 0;
	padding: 0;
}
/*FAMILJA E FONTIT TE TEXTIT*/
body {
	font-family: 'Poppins', sans-serif;
}
/*MBESHTJELLESI I FAQES */
.wrapper {
	width: 1170px;
	margin: auto;
	border-radius: 10px;
}
header {
	background-color: burlywood;
	background-repeat:no-repeat;
	background-attachment: fixed;
	height: 753px;
	background-size: cover;
	position:relative;
}
.homeclass{
	background-color: burlywood;
	background-repeat:no-repeat;
	background-attachment: fixed;
	height: 753px;
	background-size: cover;
	position:relative;
}
.hclass{
	background-color: burlywood;
	background-repeat:no-repeat;
	background-attachment: fixed;
	height: 1600px;
	background-size: cover;
	position:relative;
}
.tclass{
	background-color: burlywood;
	background-repeat:no-repeat;
	background-attachment: fixed;
	height: 953px;
	background-size: cover;
	position:relative;
}
/*AREA E NAVIGIMIT*/
.nav-area {
	float: right;
	list-style: none;
	margin-top: 35px;
}
/*OBJEKTI I LISTES SE ARESE SE NAVIGIMIT*/
.nav-area li {
	display: inline-block;
}
/*AREA E NAVIGIMIT LINK*/
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 30px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: burlywood;
	color: #333;
}
/*LOGO E PETS*/
.logo {
	float: left;
	width: 250px;
	padding: 20px;
	float: center;
	width: 150px;
	padding: 10px;
}
/*LOGO E FB DHE INSTA*/
.logo2 img {
	max-width:30%;
    height:auto;
	padding: 10px 0;
}
/*WELCOME TEXT*/
.welcome-text {
	position: absolute;
	width: 400px;
	height: 300px;
	margin: 10% 35%;
	text-align: center;
}
/*VIDEOJA NE HOME BACKGROUND */
#myVideo {
	position:absolute;
	right:0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
  }
  /*WELCOME TEXT LINK */
.welcome-text a  {
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}
.welcome-text h1{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
}
/*CONTACT TEXT LINK*/
.contact-text {
	position: absolute;
	width: 400px;
	height: 300px;
	margin: 10% 35%;
	text-align: center;
}
.contact-text a  {
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}
.contact-text h1{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
}
/*DIVI I 2T I ARESE SE NAVIGIMIT*/
.content {
	position: fixed;
	top: 0;
	background: rgba(117, 55, 55, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 1px;
  }
  /*LOGIN FORMA*/
  form{ 
	border: 1px solid #fff;
	border-radius: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	position:absolute;
    height: 580px;
    width: 420px;
  }
  /*LOGIN LOGO*/
  .login img{
	  height: 200px;
	  width: 200px;
  }
  .login:hover {
	color: #333;
  }
	.login-text{
		position: absolute;
		margin: 10% 35%;
		text-align: center;
	}
.login-text a  {
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	margin-left: 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
input{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 14px;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
	background: none;

}
/*MESAZHI BRENDA TEXT BOX-EVE*/
::placeholder {
	text-align: center;
}
/*MESAZHI NE RAST TE ERROR*/
small{
	text-decoration: none;
	font-size: 10px;
	color: red;	
}
/*REGISTER FORMA*/
form.register{
	border: 1px solid #fff;
	border-radius: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	position:absolute;
    height: 615px;
    width: 420px;
}
.register:hover {
	color: #333;
}
/*PARAGRAFI NE REGISTER*/
form.register p {
	font-size: 15px;
	text-align: left;
	margin-left: 50px;
}
.register-text{
	position: absolute;
	margin: 8% 35%;
	text-align: center;
}
.register-text a  {
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 15px;
	margin-left: 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
 .rrethnesh h1 {
	padding-top: 10%;
	text-decoration:none;
	text-transform: uppercase;
	text-align: center;
	font-size: 34px;
	margin-bottom: 5%;
	color: #fff;
}
.rrethnesh h2 {
	text-decoration:none;
	text-transform: uppercase;
	text-align: center;
	font-size: 34px;
	
	color: #fff;
}
.rrethnesh p{
	text-decoration:none;
	text-align: center;
	font-size: 20px;
	margin: 5%;
	color: #333;
}
.card{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 25px;
	margin-top: 10%;
	margin-left: 5%;
	padding-top: 10px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	height: 250px;
    width: 200px;
	float: left;
}
.card-kafshet{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 20px;
	margin-top: 10%;
	margin-left: 2%;
	padding-top: 10px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	height: 350px;
    width: 300px;
	float: left;
}
.card-kafshet img{
	height: 250px;
	width: 200px;
	margin-left: 15%;
}
.pet-card{
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 10px 25px;
	margin-top: 10%;
	margin-left: 5%;
	padding-top: 10px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	height: 450px;
    width: 300px;
	float: left;
}
.p-pet{
	padding-top: 12%;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}